<mat-card>
    <h1>Article Form</h1>
    <div class="article">
    <form #articleForm = "ngForm" (ngSubmit) = "onSubmit()" >
        <div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Article Content</mat-label>
                    <textarea
                    name="article"
                    [(ngModel)]="article"
                     matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    required></textarea>
                </mat-form-field>
            </div>
            <div>
                <button [disabled] ="!articleForm.form.valid" type = "submit" mat-raised-button color="accent">Classify The Article</button>
            </div>
        </div>
    </form>
    
</div>
</mat-card> 