<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" *ngIf = "(authService.getUser()|async)" >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/article" routerLinkActive="active"> Classify articles</a>
      <a mat-list-item routerLink ="/list" routerLinkActive="active">Articles classified list</a>
      <a mat-list-item routerLink="" routerLinkActive="active">LINK 3</a>
      <a mat-list-item routerLink="" routerLinkActive="active">LINK 4</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <div class="nav-text">
        <div> Sapir Ido's App</div>
        <!-- <div>Hello {{userEmail}} !</div> -->
      <div class="links-group">
        <div><a class ="whitelink" routerLink = "/login" *ngIf = "!(authService.getUser() | async)" >Login</a></div>
        <div><a class ="whitelink" routerLink = "/register" *ngIf = "!(authService.getUser()|async)" >Sign Up</a></div>
        <div><a class ="whitelink" (click)="handleLogout()" *ngIf = "(authService.getUser()|async)">Logout</a></div>
      </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
