
<form>
    <div>
       <h3 class="title"> The article text : </h3>
        <p>{{getArticle}}</p>
    </div>
    <h4 class="subTitle">Classification :</h4>
    <mat-form-field appearance="fill">
      <mat-label>select category</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="category">
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{category.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <p> Text Category: {{selectedValue}} </p>
  </form>
    
  <button [disabled] ="!selectedValue" mat-raised-button color="accent" (click)="createArticle(selectedValue)">Save</button>
  <!-- routerLink = "/login"
  (click)="logout()" -->